// app/assets/stylesheets/application.scss
// ...

@import "bootstrap";



.navbar {
  background-color: #b0d9e3 !important;
  margin-bottom: 10px;
}

body {
  background-color: #e0e7e6;
}


h1 {
  color: rgb(83, 110, 147);
}

h3 {
  color: rgb(83, 110, 147);
}

.pic {
  border: #b0d9e3 solid 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 60%;
  height: 60%;
}

.ratingpic {
  display: inline-block;

  border: #b0d9e3 solid 2px;
  border-radius: 10px;
  width: 20%;
  height: auto;
}

#sticky-footer {
  background-color: #b0d9e3 !important;
  margin-top: 10px;
}

.style_image {

  margin-bottom: 10px;
  margin-top: 10px;
  width: 5%;
  height: 5%;

}

#btn btn-outline-info {
  width: 20%;
}

.card {
  background-image: asset-url('dgc.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
}

.img-small {
  max-width: 25%;
  height: auto;
}
