// app/assets/stylesheets/application.scss
// ...

@import "bootstrap";



.navbar {
  background-color: #b0d9e3 !important;
  margin-bottom: 10px;
}

body {
  background-color: #e0e7e6;
}


h1 {
  color: rgb(83, 110, 147);
}

h3 {
  color: rgb(83, 110, 147);
}

// .nav-search {
//   margin-left: 10rem;
//   text-decoration: none;

// }

// .nav-link-active {
//   margin-left: 5rem;
//   align-items: center;
//   text-decoration: none;
// }

// .zipcode-block {
//   display: inline-block;
// }

.pic {
  border: #b0d9e3 solid 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 60%;
  height: 60%;
}

.ratingpic {
  display: inline-block;

  border: #b0d9e3 solid 2px;
  border-radius: 10px;
  width: 20%;
  height: auto;
}

#sticky-footer {
  background-color: #b0d9e3 !important;
  margin-top: 10px;
}
