// app/assets/stylesheets/application.scss
// ...

@import "bootstrap";  



.navbar {
    background-color: #b0d9e3 !important;
    .nav-link {
      text-decoration: none;
    }
  }

  body {
    background-color: #e0e7e6 ;
  }
  
  .navbar-brand {  
    font-size: 3rem;
  }
  
  h1 {  
    color: rgb(83, 110, 147);
  }
  
  h3 {
    color: rgb(83, 110, 147);
  }  
    