<footer id="sticky-footer" class="flex-shrink-0 py-4 text-dark">
    <div class="container text-center">
      <small>Powered By <%= link_to "Disc Golf Course Review", "http://dgcoursereview.com", class: "text-dark" %></small>
    </div>
</footer
